@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__images
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px

  .packages
    &-card-open
      &__descriprion
        margin-bottom: 37px
      &__line::nth-child(4)
        margin-bottom: 20px

  .footer
    &__input
      flex-basis: 100%

@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .newsletter
    padding: 92px 0 93px 0
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__button
        top: 156px
        &--prev
          left: 0
        &--next
          right: 0
      &__item
        max-width: 580px
  .big-title
    margin-bottom: 50px
    font-size: 30px
    line-height: 38px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .activities
    padding-bottom: 60px
  .card
    width: 340px
    height: 250px

  .packages
    &-wrapper
      grid-template-columns: 1fr 1fr

  .footer
    padding-top: 73px

    &__form
      max-width: 549px

    &__wrapper
      grid-template-columns: repeat(6, 1fr)

    &__logo
      margin-top: 0
      grid-row: 1 / 2
      grid-column: 1
      max-width: 104px
      max-height: 120px

    &__input
      flex-basis: 48%

    &__social-network
      grid-row: 1 / 2
      grid-column: span 5
      align-items: flex-end
      margin-top: 20px
      margin-left: 35px

    &__categories
      margin-left: 0
      grid-row: 2/3
      grid-column: span 2

    &__categories-details
      grid-column: span 5
      grid-row: 3

    &__contacts-form
      grid-column: span 5
      grid-row: 4
      margin-left: 0

    &__title
      margin-top: 30px

    &__title--inline
      row-gap: 50px

    &__legal
      max-width: 202px
      margin-left: 20px
      grid-column: span 2

    &__additional
      margin-left: -38px
      grid-column: span 2

    &__list
      grid-row-gap: 38px

    &__contacts-input
      max-width: 539px
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &__mobile
      &--fixed
        position: fixed
        left: 0
        right: 0
        top: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
        
        
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
  .menu
    &-button
      height: 11px
      width: 16px
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      padding: 0
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--mobile
        &--visible
          color: $light
          margin-left: 0
          margin-top: 10px
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
    &__title
      margin-bottom: 20px
  .reviews
    &-slider
      &__button
        top: 30px
        &--prev
          left: 30px
        &--next
          right: 30px
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
  .big-title
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-align: center
    text-transform: uppercase
  .card
    width: 49%
    height: 255px

  .packages
    &-wrapper
      grid-template-columns: 1fr 1fr
      column-gap: 20px

    &-card-open
      grid-template-rows: 1fr 1fr
      grid-template-columns: 1fr
      &::before
        font-weight: 600
        font-size: 8px
        line-height: 10px
        padding: 4px 9px 4px 9px

      &__image
        max-width: 100%
        max-height: 100%
        object-fit: cover
        justify-self: center
        align-self: center

      &__text-block
        background: #0a223d
        padding: 30px 21px 25px 32px
        display: grid
        grid-template-columns: 2fr 3fr
        justify-content: space-between
        grid-auto-rows: min-content

      &__title,
      &__descriprion,
      &__line,
      &__crossed-price
        grid-column-start: 1
        grid-column-end: span 2
        margin: 0

      &__title
        font-style: normal
        font-weight: bold
        font-size: 18px
        line-height: 23px
        margin-bottom: 22px

      &__descriprion
        display: none

      &__line
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 15px
        font-style: normal
        margin-bottom: 8px
        &:nth-child(6)
          margin-bottom: 24px

      &__icon
        width: 14px
        height: 14px

      &__text
        margin-left: 11px

      &__crossed-price
        font-weight: normal
        font-size: 14px
        line-height: 18px
        text-decoration-line: line-through

      &__price
        font-style: normal
        font-weight: bold
        font-size: 20px
        line-height: 26px
        align-self: center
        margin-left: 0

      &__button
        justify-self: end
        font-family: Nunito
        font-style: normal
        font-weight: 600
        font-size: 14px
        line-height: 19px
        padding: 10px 26px

    &-card-closed
      &__price
        font-size: 20px
        line-height: 26px

      &__text-block
        grid-template-columns: 2fr 3fr
    
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
    
    &__legal
      grid-column: span 2
      margin-left: 38px


@media (max-width: 576px)
  .logo
    width: 99px
  .breadcrumb
    &__nav
      margin-bottom: 8px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
    &-info
      padding-bottom: 38px
  .reviews
    &-title
      &__text
        font-size: 25px
        line-height: 35px
        margin-bottom: 42px
    &-slider
      &__button
        position: absolute
        top: 8%
        transform: translateY(-50%)
        width: 30px
        height: 30px
        background-repeat: no-repeat
        background-size: 10px
        background-position: center
        background-color: transparent
        cursor: pointer
        z-index: 99
        border: none
  .big-title
    padding-bottom: 42px
  .card
    width: 100%
    object-fit: cover

  .packages
    &__title
      margin-bottom: 0
    &-wrapper
      grid-template-columns: 1fr
      grid-gap: 15px
    &-card-closed
      &__image
        height: 200px
    &-card-open
      flex-direction: column
      grid-row-start: 1
      grid-column-start: 1
      grid-row-end: 2
      grid-column-end: 2
      color: $light
      &__image
        width: 100%
        height: 200px
        object-fit: cover

    &-card-closed
      &__image
        height: 200px

  .footer
    &__input
      min-width: 281px
      flex-basis: 90%

    &__message
      min-width: 281px
      flex-basis: 90%

    &-wrapper
      grid-template-columns: 1fr

    &__logo
      margin-bottom: 15px
      grid-row: 1
      grid-column: 1

    &__social-network
      margin: 0 100px 0 0
      display: flex
      flex-wrap: wrap
      grid-row: 2
      grid-column: 1

    &__social-links
      margin-top: -20px

    &__additional
      grid-row: 4
      grid-column: 1
      margin-left: 0
      margin-bottom: 10px

    &__categories
      grid-row: 5
      grid-column: 1
      margin-bottom: 25px

    &__legal
      grid-row: 3
      grid-column: 1px
      margin-left: 0
      margin-bottom: 10px

    &__contacts-details
      grid-row: 6
      grid-column: 1px
      margin-bottom: 15px

    &__contacts-form
      grid-row: 7
      grid-column: 1
      width: 281px

    &__title--input
      margin-bottom: 15px
      margin-top: 20px

    &__title--inline
      margin: 0 10px 0 0

    &__title
      margin-top: 0

    &__info
      display: flex
      flex-direction: column
      margin-top: 10px
      margin-bottom: 15px
      margin-right: -30px
      order: -1

    &__span
      width: 300px

    &__cards
      font-size: 10px
      margin-right: 10px
      justify-content: space-between
      margin-bottom: 10px

    &__contacts-input
      display: flex
      flex-direction: column
      margin-top: 20px
  .cards
    &__wrapper
      margin-top: 30px
      flex-wrap: wrap
    
    &__button
      margin-top: 0
      width: 160px
      order: 1

@media (min-width: 320px) and (max-width: 480px)
  .container,
  .newsletter-wrapper
    width: 89%
  .navbar
    &-top
      padding-top: 26px
      padding-bottom: 26px
  .breadcrumb
    &-list
      text-shadow: none
  .hotel
    padding-top: 0px
    padding-bottom: 20px
    &-slider
      height: 179px
    &-info
      &__description
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  .google-map
    height: 173px
  .map
    height: 173px
    margin-bottom: 40px
  .subscribe
    max-width: 100%
  .newsletter
    padding: 76px 0 83px 0
    height: 319px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    padding-top: 40px
    &-slider
      &__text
        text-align: start
  .big-title
    font-size: 18px
    line-height: 23px
    width: 240px
    margin: auto
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
